<div>
    Login:<br>
    <div style="margin-bottom: 20px">
        <ui-text-field [title]="'Login'" [(value)]="login"></ui-text-field>
    </div>

    <ng-container *ngIf="login">
        Password:<br>
        <div style="margin-bottom: 20px">
            <ui-text-field [(value)]="password" [password]="true" [title]="'Password'"></ui-text-field>
        </div>
        <ng-container *ngIf="password">
            <ui-button [title]="'Войти'" (click)="load()"></ui-button>
        </ng-container>

        <div>{{result}}</div>
    </ng-container>
</div>


